<script type="text/discourse-plugin" version="0.8">
    function defaultSettings() {
        return {};
    }

    function parseSetups(raw) {
        const parsed = {};
        raw.split("|").forEach(setting => {
            const [category, value] = setting.split(",").map(s => s.trim());
            parsed[category] = parsed[category] || defaultSettings();
            parsed[category]["post-id"] = value;
        });
        return parsed;
    }
    
    function parseTags(raw) {
        const parsed = {};
        raw.split("|").forEach(setting => {
            var words = setting.split(",").map(s => s.trim());
            const category = words.shift()
            parsed[category] = parsed[category] || defaultSettings();
            parsed[category]["tags"] = words;
        });
        return parsed;
    }

    const container = Discourse.__container__;
    const { h } = require("virtual-dom");
    const { ajax } = require("discourse/lib/ajax");
    const PostCooked = require("discourse/widgets/post-cooked").default;
    const postCache = {};
    
    api.createWidget("category-tooltip", {
        tagName: "div.category-tooltip",
        getPost(id) {
            if (!postCache[id]) {
                ajax(`/t/${id}.json`).then(response => {
                    postCache[id] = new PostCooked({ cooked: response.post_stream.posts[0].cooked });
                    this.scheduleRerender();
                });
            }
            return postCache[id];
        }, 
        html(attrs) {
            console.log(attrs);
            if (setups.hasOwnProperty(attrs.slug)) {
                const category = setups[attrs.slug];
                const nodes = [
                    this.getPost(category["post-id"])
                ];
                console.log(attrs);
                return h("category-tooltip", nodes);
            }
        }
    });
    
    api.modifyClass("component:categories-boxes", {
        actions: {
            changeCategoryNotificationLevel(category, args) {
                let notificationLevel = args;
                category.setNotification(notificationLevel);
            }
        }
    })
</script>



<script type="text/x-handlebars" data-template-name="components/categories-boxes">
{{#each categories as |c|}}
  <div style={{border-color c.color}} data-category-id={{c.id}} data-notification-level={{c.notificationLevelString}} data-url={{c.url}} class="category category-box category-box-{{c.slug}} {{if c.isMuted "muted"}} {{if noCategoryStyle "no-category-boxes-style"}}">
    <div class="category-box-inner">
      <div class="category-logo" href={{c.url}}>
          {{category-notifications-button
            value=c.notification_level
            onChange=(action "changeCategoryNotificationLevel" c)
          }}
        {{#if (theme-setting 'show_category_unreadnew')}}
            {{category-unread category=c tagName="div" class="unread-new"}}
        {{/if}}
        {{#if c.uploaded_logo.url}}
          <a href={{c.url}}>
            {{cdn-img
                src=c.uploaded_logo.url
                class="logo"
                width=c.uploaded_logo.width
                height=c.uploaded_logo.height
            }}
          </a>
        {{/if}}
      </div>
      
      <div class="category-details">
        <div class="category-box-heading">
          <a href={{c.url}}>
            <h3>
              {{#if c.read_restricted}}
                {{d-icon "lock"}}
              {{/if}}
              {{c.name}}
            </h3>
          </a>
          <div class="description">
              {{text-overflow class="overflow" text=c.description_excerpt}}
          </div>
        </div>

        
      </div>
      {{#if (theme-setting 'show_quantity')}}
        <div class="category-stats" title={{c.statTitle}}>{{html-safe c.stat}}</div>
      {{/if}}
    </div>
  </div>
{{/each}}
</script>

